$color-primary: #5368df;
$color-secondary: rgb(250, 87, 87);
$color-grayish-blue-10: #9194a1;
$color-grayish-blue-20: #252b46;
$color-white: #fff;
$color-gray-10: #eee;
$color-gray-20: #ccc;
$font-size: 1.8rem;
$font-size-smaller: 1.2rem;
$font-family: 'Rubik', sans-serif;
$font-weight: 400;
$font-weight-20: 500;
$box-shadow: 0.8rem 0.8rem 1.2rem 0 rgba(0, 0, 0, 0.2);
$line-height: 1.8;
