@use '../abstracts/mixins';
@use '../abstracts/variables';
.form {
  width: 100%;
  @include mixins.center;
  gap: 1.2rem;
  @include mixins.respond(small) {
    @include mixins.center(column);
    gap: 0.6rem;
    align-items: stretch;
  }
  *:focus {
    outline: none;
  }
  &.invalid {
    .form__input-box {
      background-color: variables.$color-secondary;
      border: 2px solid variables.$color-secondary;
      margin: 0;
      border-radius: 0.3rem;

      .error {
        pointer-events: all;
        visibility: visible;
        opacity: 100;
      }

      svg {
        pointer-events: all;
        visibility: visible;
        opacity: 100;
      }
    }
  }
  &__input-box {
    border: 2px solid transparent;
    position: relative;
    // padding: 0rem;
    @include mixins.center(column);
    /* 
    border: 2px solid variables.$color-secondary;
    margin: 0;
    border-radius: 1rem;
    background-color: variables.$color-secondary;
    */
    svg {
      top: 35%;
      transform: translate(-150%, -55%);
      left: 100%;
      position: absolute;

      pointer-events: none;
      visibility: hidden;
      opacity: 0;
    }

    .error {
      width: 100%;
      font-size: 1.2rem;
      padding: 0.6rem;
      color: variables.$color-white;
      background-color: variables.$color-secondary;
      border-bottom-left-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;

      pointer-events: none;
      visibility: hidden;
      opacity: 0;
    }
  }
  &__input {
    border: 2px solid variables.$color-white;
    padding: 1.2rem;
    width: 30vw;
    border-radius: 0.3rem;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: variables.$color-grayish-blue-20;

    @include mixins.respond(small) {
      width: 100%;
    }

    &:placeholder-shown {
      color: variables.$color-gray-20;
    }
  }
  &__btn {
    border: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    margin-top: -2.4rem;
    padding: 1.2rem 2.4rem;
    background-color: variables.$color-secondary;
    color: variables.$color-white;
    border-radius: 0.3rem;

    text-decoration: none;
    border: 2px solid variables.$color-secondary;

    &:hover,
    &:focus,
    &:active {
      background-color: variables.$color-white;
      color: variables.$color-secondary;
    }
  }
}
